# Data Preprocess

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

### Load Data

In [2]:
pok = pd.read_csv("./data/pokemon.csv")

In [3]:
df = pd.read_csv("./data/data_processed_no_normalized.csv")

In [4]:
df.columns.values

array(['Name_p1', 'Type_1_p1', 'Type_2_p1', 'HP_p1', 'Attack_p1',
       'Defense_p1', 'SpAtk_p1', 'SpDef_p1', 'Speed_p1', 'Generation_p1',
       'Legendary_p1', 'Name_p2', 'Type_1_p2', 'Type_2_p2', 'HP_p2',
       'Attack_p2', 'Defense_p2', 'SpAtk_p2', 'SpDef_p2', 'Speed_p2',
       'Generation_p2', 'Legendary_p2', 'label'], dtype=object)

### New Features

In [5]:
pok[:1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [6]:
df[:1]

,Name_p1,Type_1_p1,Type_2_p1,HP_p1,Attack_p1,Defense_p1,SpAtk_p1,SpDef_p1,Speed_p1,Generation_p1,Legendary_p1,Name_p2,Type_1_p2,Type_2_p2,HP_p2,Attack_p2,Defense_p2,SpAtk_p2,SpDef_p2,Speed_p2,Generation_p2,Legendary_p2,label
0,342,15,10,50.0,64.0,50.0,45.0,50.0,41.0,2.0,0,492,9,1,70,70,40,60,40,60,3,0,1

In [7]:
def calculate_exp(x):
    if x<0:
        return 1.0/2**x
    elif x==0:
        return 0
    else:
        return 2.0**x

In [8]:
df['HP_diff'] = df['HP_p1'] - df['HP_p2']
df['Attack_diff'] = df['Attack_p1'] - df['Attack_p2']
df['Defense_diff'] = df['Defense_p1'] - df['Defense_p2']
df['SpAtk_diff'] = df['SpAtk_p1'] - df['SpAtk_p2']
df['SpDef_diff'] = df['SpDef_p1'] - df['SpDef_p2']
df['Speed_diff'] = df['Speed_p1'] - df['Speed_p2']

In [9]:
df['HP_diff'][:10]

0   -20.0
1     0.0
2    40.0
3   -20.0
4     3.0
5   -26.0
6    -8.0
7     0.0
8    10.0
9    30.0
Name: HP_diff, dtype: float64

In [10]:
df['HP_diff'] = df['HP_diff'].apply(calculate_exp)

In [11]:
df['HP_diff'][:10]

0    1.048576e+06
1    0.000000e+00
2    1.099512e+12
3    1.048576e+06
4    8.000000e+00
5    6.710886e+07
6    2.560000e+02
7    0.000000e+00
8    1.024000e+03
9    1.073742e+09
Name: HP_diff, dtype: float64

In [12]:
1.0/2**-2

4.0

In [13]:
2**2

4

In [14]:
calculate_exp(2)

4.0

In [15]:
calculate_exp(-2)

4.0

### Extract to CSV

In [16]:
joined_final.to_csv('./data/data_processed.csv', header=True, index=False)

NameError: name 'joined_final' is not defined